# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=retail_shelf_sales

# Databricks
DATABRICKS_HOST=https://community.cloud.databricks.com
DATABRICKS_TOKEN=your_token_here

# Data paths
RAW_DATA_PATH=data/raw/walmart_sales.csv